/* 轮播图部分-------------- */
.banner {
    width: 1519px;
    height: 640px;
    margin: 0 auto;
    position: relative;

}

.banner .imgshow {
    width: 1519px;
    height: 640px;
    position: relative;
}

.banner .imgshow a {
    width: 1519px;
    height: 640px;
    overflow: hidden;
    /*     position: relative; */
}

.banner .imgshow img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    /* display: none; */
}

/* 底部按钮部分----------------- */
.points {
    position: absolute;
    bottom: 20px;
    right: 66px;
}

.points a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    border: 2px solid aqua;
    margin: 0 4px;
}

.points .show {
    background: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, .6);
}

.points .hidden {
    background: rgba(0, 0, 0, .6);
    border-color: rgba(255, 255, 255, 0.3);
}

.points a:hover {
    background: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, .6);
}

/* 左右按钮部分 */
.btn {
    width: 41px;
    height: 69px;
    position: absolute;
    top: 40%;
    background: url(../images/icon-slides.png);
}

.btn_left {
    background-position-x: -83px;
}

.btn_left:hover {
    background-position-x: 0;
}

.btn_right {
    right: 0;
    background-position-x: -125px;
}

.btn_right:hover {
    background-position-x: -42px;
}

/* 轮播图文字部分 -----------------------------------------------*/
.imgshow a .ten-main {
    position: absolute;
    left: 5%;
    top: 53%;
}

.ten-main h2 {
    font-size: 48px;
    color: #fff;
    line-height: 1.4em;
}

.ten-main h2:hover {
    font-size: 64px;
    color: #fff;
    line-height: 1.4em;
    transition-delay: 0.4s;
    transition: all 0.5s ease;
}


.ten-main h5 {
    color: #fff;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: normal;
}

.ten-main h5:hover {
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
    font-weight: normal;
    transition-delay: 0.4s;
    transition: all 0.5s ease;
}