/* 页脚部分 */
.footer {
    width: 100%;
    height: 480px;
}

.footer_con {
    margin: 0 auto;
    width: 1200px;
    height: 480px;
    position: relative;
}

.focus_us {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #f2f3f5;
    padding-top: 33px;
    margin-bottom: 40px;
    box-sizing: content-box;
}

.focus_us .tit_1 {
    display: block;
    position: relative;
    font-size: 20px;
    color: #5f6464;
    font-weight: normal;
    margin-bottom: 30px;
}

.focus_list {
    position: absolute;
    left: 117px;
    top: 39px;
    display: flex;
}

.focus_us .focus_list li {
    display: block;
    width: 20px;
    margin-right: 28px;
}

.focus_us .focus_list li a .icon {
    display: block;
    height: 28px;
    width: 28px;
    background: url(../images/10036.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    transition: background 0.2s ease-in-out;
}

.focus_us .focus_list li a {
    font-size: 16px;
    color: #5f6464;
    font-weight: normal;
    margin-bottom: 18px;
    height: 28px;
    width: 28px;
}

.focus_us .focus_list li a .icon {
    display: block;
    height: 28px;
    width: 28px;
    background: url(../images/10036.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    transition: background 0.2s ease-in-out;
}
.wechat_code {
    width: 176px;
    position: absolute;
    left: 0;
    top: -186px;
    z-index: 3;
    display: block;
    opacity: 0;
    transition: opacity 0.2s linear;
    pointer-events: none;
}
.focus_us .focus_list li a:hover .wechat_code {
    display: block;
    opacity: 1;
}
.focus_us .focus_list li a .icon_weibo {
    background: url(../images/10037.png) no-repeat center;
    background-size: 100% 100%;
}

.focus_us .focus_list li a .icon_twitter {
    background: url(../images/10038.png) no-repeat center;
    background-size: 100% 100%;
}

.focus_us .focus_list li a .icon_in {
    background: url(../images/10039.png) no-repeat center;
    background-size: 100% 100%;
}

.focus_us .focus_list li a:hover .icon {
    background: url(../images/10040.png) no-repeat center;
    background-size: 100% 100%;
}

.focus_us .focus_list li a:hover .icon_weibo {
    background: url(../images/10041.png) no-repeat center;
    background-size: 100% 100%;
}

.focus_us .focus_list li a:hover .icon_twitter {
    background: url(../images/10042.png) no-repeat center;
    background-size: 100% 100%;
}

.focus_us .focus_list li a:hover .icon_in {
    background: url(../images/10043.png) no-repeat center;
    background-size: 100% 100%;
}

.join_us,
.contact_us,
.legal_info {
    float: left;
    width: 216px;
}

.footer_con .tit {
    display: block;
    font-size: 20px;
    color: #5f6464;
    font-weight: normal;
    margin-bottom: 30px;
}

.footer_con .join_list li a,
.footer_con .contact_us li a,
.footer_con .legal_info li a {
    display: block;
    font-size: 16px;
    color: #5f6464;
    font-weight: normal;
    margin-bottom: 18px;
}

.logo_tencent {
    display: block;
    height: 28px;
    width: 212px;
    position: absolute;
    right: 75px;
    top: 50%;
    margin-top: -21px;
}

.logo_tencent img {
    width: 100%;
}

.footer_area {
    display: block;
    width: 100%;
    height: 54px;
    position: absolute;
    bottom: 51px;
    left: 0px;
}

.footer_area .links li {
    /* display: inline-block; */
    float: left;
    margin-right: 20px;
}

.footer_area .links li a {
    font-size: 14px;
    color: #5f6464;
    margin-bottom: 0px;
}

.footer_area .copyright {
    font-size: 14px;
    color: #5f6464;
    float: left;
    width: 100%;
    margin-top: 12px;
}

.footer_area .copyright a {
    font-size: 14px;
    color: #5f6464;
    margin-bottom: 0px;
}