/* 交互页面1 ------------------------------------------*/
.ten_bg {
    background: #1B1F25;
    color: #FFF;
}

.ten_home {
    display: flex;
    /* 均匀排列每个元素
首个元素放置于起点，末尾元素放置于终点 */
    justify-content: space-between;
    align-items: center;
    font-family: 'TencentSansw3';
    flex-wrap: wrap;
}

.ten_home .ten_home_l {
    width: 388px;
    height: 433px;
    padding-top: 24px;
}

.ten_home .ten_home_l a,
.ten_home .ten_home_l a h2 {
    display: block;
    position: relative;
    font-size: 32px;
    line-height: 1.2em;
    margin: 12px 0px;
    padding: 0px;
    opacity: 0.5;
    color: #FFF;
    font-family: 'TencentSansw7';
    transition: ease all 0.3s;
}

.ten_home .ten_home_l a .active,
.ten_home .ten_home_l a:hover h2,
.ten_home .ten_home_l a:hover p {
    opacity: 1;
}

.ten_home .ten_home_l a:hover {
    opacity: 1;
}

.ten_home .ten_home_l a:hover .ten_home .ten_home_l h2 {
    opacity: 1;
}

/* .ten_home .ten_home_l a:hover  .ten_home_l p {
    opacity: 1;
} */
.ten_home .ten_home_l a .active h2,
.ten_home .ten_home_l a .active p,
.ten_home .ten_home_l a:hover h2,
.ten_home .ten_home_l a:hover p {
    padding-left: 36px;
}

/* .ten_home .ten_home_l a:hover p {
    padding-left: 36px;
} */

.ten_home .ten_home_l a .active h2::before,
.ten_home .ten_home_l a:hover h2::before {
    background: #0052D9;
    left: 0px;
}

.ten_home .ten_home_l a .active p::after,
.ten_home .ten_home_l a:hover p::after {
    opacity: 1;
}

.ten_home .ten_home_l a h2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -24px;
    height: 100%;
    width: 6px;
    background: rgba(25, 74, 195, 0);
    transition: ease all 0.3s;
}

.ten_home .ten_home_l a p {
    transition: ease all 0.3s;
    position: relative;
    font-size: 16px;
    line-height: 1.5em;
    margin: 12px 0px;
    padding: 0px;
    font-weight: normal;
    color: #fff;
    font-family: 'TencentSansw7';
}

.ten_home .ten_home_l a p::after {
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(../images/002.png);
    transition: ease all 0.3s;
}

/* 交互页面1——右------------------------------------------ */
.container .ten_home_r {
    width: 760px;
    height: 630px;
}

.ten_home_card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.ten_home_card .ten_home_img {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 315px;
}

.ten_home_card .ten_home_img img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ten_img_shadow_vert {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}

.ten_img_txt_bottom {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-end;
    padding: 24px 24px;
}

.ten_img_txt_bottom h3 {
    font-family: 'TencentSansw7';
    position: relative;
    font-size: 24px;
    line-height: 1.4em;
    margin: 12px 0px;
    padding: 0px;
    font-weight: normal;
    color: #FFF;
}

.ten_img_txt_bottom p {
    display: none;
    position: relative;
    font-family: 'TencentSansw7';
    font-size: 16px;
    line-height: 1.5em;
    margin: 12px 0px;
    padding: 0px;
    font-weight: normal;
    color: #FFF;
}

.ten_home_img:hover .ten_img_txt_bottom p {
    display: block;
}

/* .ten_home_img:hover .ten_img_txt_bottom h3::after {
    display: block;
    right: 0px;
    opacity: 1;
} */

/* .ten_img_txt_bottom h3::after {
    display: none;
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 24px;
    opacity: 1;
    right: 24px;
    background-color: pink;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(../images/002.png);
    transition: ease all 0.3s;
} */
.ten_home_card .active {
    display: flex;
    height: 630px;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.ten_home_card .ten_home_img_4 {
    width: 50%;
    height: 315px;
    position: relative;
    overflow: hidden;
}

.ten_home_card .ten_home_img_5 {
    width: 100%;
    height: 315px;
    position: relative;
    overflow: hidden;
}

.ten_home_card img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ten_home_img_5:hover .ten_img_txt_bottom p,
.ten_home_img_4:hover .ten_img_txt_bottom p {
    display: block;
}

#home2,
#home3 {
    display: none;
}


